@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
	margin: auto;
}

h1{
	font-size: 40px;
	line-height: 50px;
	color: white;
}

section{
	width: 20%;
	float: left;
	padding: 50px 0;
}

aside{
	width: 80%;
	padding: 10px 270px 10px 0px;
}

body{
	font-family: 'Montserrat', sans-serif;
	background: url("fondo.png");
}

.opciones{
	width: 150px;
	height: 50px;
	border: 3px solid black;
	margin: 30px 70px;
	text-align: center;
}

#op1{
	background: yellow;
}

#op2{
	background: green;
}

#op3{
	background: orange;
}

#op4{
	background: red;
}

.circle { 
 	position: relative; 
 	border: 10px solid brown;  
 	margin: 1em auto; 
 	padding: 0;
 	width: 500px; 
 	height: 500px; 
 	border-radius: 50%; 
 	list-style: none; 
 	overflow: hidden; 
} 

li { 
 	overflow: hidden; 
 	position: absolute; 
 	top: 0; 
 	right: 0; 
 	width: 50%; 
 	height: 50%; 
 	transform-origin: 0% 100%; 
} 

.relleno { 
	position: absolute; 
	left: -45%; 
	width: 100%; 
	height: 200%; 
	transform: skewY(45deg) rotate(15deg);
} 

li:first-child { 
	transform: rotate(0deg) skewY(-45deg); 
	border: 3px solid black;
} 

li:nth-child(2) { 
	transform: rotate(45deg) skewY(-45deg); 
	border: 3px solid black;
} 

li:nth-child(3) { 
	transform: rotate(90deg) skewY(-45deg); 
	border: 3px solid black;
} 

li:nth-child(4) { 
	transform: rotate(135deg) skewY(-45deg);
	border: 3px solid black; 
} 

li:nth-child(5) { 
	transform: rotate(180deg) skewY(-45deg); 
	border: 3px solid black;
} 

li:nth-child(6) { 
	transform: rotate(225deg) skewY(-45deg); 
	border: 3px solid black;
} 

li:nth-child(7) { 
	transform: rotate(270deg) skewY(-45deg); 
	border: 3px solid black;
} 

li:nth-child(8) { 
	transform: rotate(315deg) skewY(-45deg); 
	border: 3px solid black;
} 



#r1 { 
	background: transparent; 
} 

#r2 { 
	background: none; 
} 

#r3 { 
	background: none; 
} 

#r4 { 
	background: none; 
} 

#r5 { 
	background: none; 
} 

#r6 { 
	background: none; 
} 

#r7 { 
	background: none; 
} 

#r8 { 
	background: none; 
} 

